<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      funcionarios
    </ion-title>
    <ion-button size="default" slot="end">inserir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="8">
      <ion-item lines="none">
        <ion-label></ion-label>
        <ion-searchbar size="12" size-lg="6" search-icon="search-circle" placeholder="cargo"></ion-searchbar>
        <ion-col size="auto" class="ion-align-items-end">
          <ion-checkbox>nome</ion-checkbox>
        </ion-col>
        <ion-col size="auto" class="ion-align-items-end">
          <ion-checkbox>cargo</ion-checkbox>
        </ion-col>
        <ion-col size="auto" class="ion-align-items-end">
          <ion-checkbox>cidade</ion-checkbox>
        </ion-col>
        <ion-col size="auto" class="ion-align-items-end">
          <ion-checkbox>telefone</ion-checkbox>
        </ion-col>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>

    
    