<ion-header [translucent]="true">
    <ion-title>
      <div style="display: flex; align-items: center;">
        <div style="flex-grow: 1;">funcionarios</div>
        <ion-button size="default">inserir</ion-button>
      </div>
    </ion-title>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="8">
      <ion-item lines="none">
        <ion-label></ion-label>
        <ion-searchbar size="12" size-lg="6" search-icon="search-circle" placeholder="cargo"></ion-searchbar>
        <ion-col size="auto" class="ion-align-items-end">
          <ion-checkbox slot="end"></ion-checkbox>
          <ion-label>nome</ion-label>
        </ion-col>
        <ion-col size="auto" class="ion-align-items-end">
          <ion-checkbox slot="end"></ion-checkbox>
          <ion-label>cargo</ion-label>
        </ion-col>
        <ion-col size="auto" class="ion-align-items-end">
          <ion-checkbox slot="end"></ion-checkbox>
          <ion-label>cidade</ion-label>
        </ion-col>
        <ion-col size="auto" class="ion-align-items-end">
          <ion-checkbox slot="end"></ion-checkbox>
          <ion-label>telefone</ion-label>
        </ion-col>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
